In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns 
%matplotlib inline

In [2]:
file_to_load = pd.read_csv("WNBA_Shooting_.csv")
pd.set_option('display.max_columns', None)
file_to_load['Count'] =1
file_to_load.SHOT_ZONE_BASIC.unique()

array(['Mid-Range', 'In The Paint (Non-RA)', 'Restricted Area',
       'Above the Break 3', 'Right Corner 3', 'Left Corner 3',
       'Backcourt'], dtype=object)

## Data Frame to add players to

In [3]:
Top_WNBA_Shooting_for2020=pd.DataFrame(columns = ['Player Name', 'Shot Zone', 'Distance'])
L_Corner_3_df = ['Jewell Loyd', 'Left Corner 3', '24 ft.+']
Top_WNBA_Shooting_for2020

Empty DataFrame
Columns: [Player Name, Shot Zone, Distance]
Index: []

# Left Corner 3

In [4]:
L_Corner_3=file_to_load.loc[file_to_load['SHOT_ZONE_BASIC'] == 'Left Corner 3']
L_Corner_3=L_Corner_3.groupby(by='PLAYER_NAME').sum()['Count'].sort_values(ascending=False).to_frame().head(10)
L_Corner_3_df = ['Jewell Loyd', 'Left Corner 3', '24 ft.+']
L_Corner_3

                  Count
PLAYER_NAME
Jewell Loyd           8
Riquna Williams       6
Alysha Clark          5
Azur치 Stevens         3
Brittney Sykes        3
Allie Quigley         3
Sue Bird              3
Bridget Carleton      3
Ariel Atkins          3
Marina Mabrey         2

# Right Corner 3

In [6]:
R_Corner_3=file_to_load.loc[file_to_load['SHOT_ZONE_BASIC'] == 'Right Corner 3']
R_Corner_3.groupby(by='PLAYER_NAME').sum()['Count'].sort_values(ascending=False).to_frame().head(10)

                  Count
PLAYER_NAME
Satou Sabally         3
Sami Whitcomb         2
Leilani Mitchell      2
Kayla Thornton        2
Tiffany Mitchell      1
Kahleah Copper        1
Allisha Gray          1
Azur치 Stevens         1
Betnijah Laney        1
Brittney Sykes        1

# Mid Range

In [7]:
Mid_Range=file_to_load.loc[file_to_load['SHOT_ZONE_BASIC'] == 'Mid-Range']
Mid_Range.SHOT_ZONE_AREA.unique()

array(['Right Side(R)', 'Center(C)', 'Left Side(L)',
       'Left Side Center(LC)', 'Right Side Center(RC)'], dtype=object)

### Right Side 8 -16ft

In [70]:
Mid_Range=file_to_load.loc[file_to_load['SHOT_ZONE_BASIC'] == 'Mid-Range']
Mid_Range_Right = Mid_Range.loc[Mid_Range['SHOT_ZONE_AREA'] =='Right Side(R)']
Mid_Range_Right_8to16 = Mid_Range_Right.loc[Mid_Range_Right['SHOT_ZONE_RANGE'] == '8-16 ft.']
Mid_Range_Right_8to16.groupby(by='PLAYER_NAME').sum()['Count'].sort_values(ascending=False).to_frame().head(10)
#Mid_Range.SHOT_ZONE_AREA.unique()

                   Count
PLAYER_NAME
Allie Quigley         11
Courtney Williams      9
Candice Dupree         8
Chelsea Gray           7
Emma Meesseman         7
Brittney Griner        6
Jackie Young           6
A'ja Wilson            6
Breanna Stewart        5
Ruthy Hebard           5

### Right Side 16-24 ft

In [71]:
Mid_Range_Right_16to24 = Mid_Range_Right.loc[Mid_Range_Right['SHOT_ZONE_RANGE'] == '16-24 ft.']
Mid_Range_Right_16to24.groupby(by='PLAYER_NAME').sum()['Count'].sort_values(ascending=False).to_frame().head(10)

                          Count
PLAYER_NAME
Courtney Williams             8
Candice Dupree                8
Nneka Ogwumike                5
Seimone Augustus              4
Shatori Walker-Kimbrough      3
Allie Quigley                 3
Myisha Hines-Allen            3
Monique Billings              3
Gabby Williams                3
Kia Vaughn                    2

### Center 16-24ft

In [72]:
Mid_Range=file_to_load.loc[file_to_load['SHOT_ZONE_BASIC'] == 'Mid-Range']
Mid_Range_Center = Mid_Range.loc[Mid_Range['SHOT_ZONE_AREA'] =='Center(C)']
Mid_Range_Center_16to24=Mid_Range_Center.loc[Mid_Range_Center['SHOT_ZONE_RANGE'] == '16-24 ft.']
Mid_Range_Center_16to24.groupby(by='PLAYER_NAME').sum()['Count'].sort_values(ascending=False).to_frame().head(10)

                   Count
PLAYER_NAME
Kayla McBride         16
Ariel Atkins          13
Chelsea Gray           9
Allie Quigley          8
Courtney Williams      8
Jackie Young           8
Jewell Loyd            7
Angel McCoughtry       7
Kelsey Mitchell        7
Danielle Robinson      6

### Center 8-16 ft

In [73]:
Mid_Range_Center_8to16=Mid_Range_Center.loc[Mid_Range_Center['SHOT_ZONE_RANGE'] == '8-16 ft.']
Mid_Range_Center_8to16.groupby(by='PLAYER_NAME').sum()['Count'].sort_values(ascending=False).to_frame().head(10)

                     Count
PLAYER_NAME
A'ja Wilson              7
Allie Quigley            7
Crystal Dangerfield      4
Courtney Williams        4
Chelsea Gray             4
Jewell Loyd              3
Tiffany Mitchell         3
Diana Taurasi            3
Candice Dupree           3
Jazmine Jones            3

### Left Side Center 16-24 ft

In [74]:
Mid_Range_LC = Mid_Range.loc[Mid_Range['SHOT_ZONE_AREA'] =='Left Side Center(LC)']
Mid_Range_LC.groupby(by='PLAYER_NAME').sum()['Count'].sort_values(ascending=False).to_frame().head(10)

                   Count
PLAYER_NAME
Courtney Williams     13
Jasmine Thomas        11
Arike Ogunbowale      11
Kahleah Copper         9
Riquna Williams        8
DeWanna Bonner         8
Jackie Young           7
Emma Meesseman         7
Chelsea Gray           7
Allie Quigley          6

### Right Side Center 16-24 ft

In [145]:
Mid_Range_RC = Mid_Range.loc[Mid_Range['SHOT_ZONE_AREA'] =='Right Side Center(RC)']
Mid_Range_RC.groupby(by='PLAYER_NAME').sum()['Count'].sort_values(ascending=False).to_frame().head(10)

                      Count
PLAYER_NAME
Courtney Williams        24
Chelsea Gray             11
Candice Dupree            9
A'ja Wilson               8
Courtney Vandersloot      8
Allie Quigley             7
Jasmine Thomas            7
Betnijah Laney            7
Kayla McBride             6
Jackie Young              6

### Left Side 8 -16ft

In [146]:
Mid_Range_LS_8to16=Mid_Range.loc[Mid_Range['SHOT_ZONE_AREA'] == 'Left Side(L)']
Mid_Range_LS_8to16.loc[Mid_Range_LS_8to16['SHOT_ZONE_RANGE']=='8-16 ft.'].groupby(by='PLAYER_NAME').sum()['Count'].sort_values(ascending=False).to_frame().head(10)

                   Count
PLAYER_NAME
Chennedy Carter       10
Napheesa Collier      10
Allie Quigley          9
A'ja Wilson            8
Ariel Atkins           8
DeWanna Bonner         8
Betnijah Laney         8
Seimone Augustus       8
Courtney Williams      8
Candice Dupree         6

### Left Side 16-24 ft

In [147]:
Mid_Range_LS_16TO24=Mid_Range.loc[Mid_Range['SHOT_ZONE_AREA'] == 'Left Side(L)']
Mid_Range_LS_16TO24.loc[Mid_Range_LS_16TO24['SHOT_ZONE_RANGE']=='16-24 ft.'].groupby(by='PLAYER_NAME').sum()['Count'].sort_values(ascending=False).to_frame().head(10)

                   Count
PLAYER_NAME
Candice Dupree        10
Emma Meesseman         6
Courtney Williams      5
Kahleah Copper         4
Jewell Loyd            4
Tiffany Mitchell       3
Ariel Atkins           3
Arike Ogunbowale       3
Sue Bird               3
A'ja Wilson            3

# In the paint (NON_RA)

In [148]:
In_the_paint_nra=file_to_load.loc[file_to_load['SHOT_ZONE_BASIC'] =='In The Paint (Non-RA)']
In_the_paint_nra.SHOT_ZONE_AREA.unique()

array(['Center(C)', 'Left Side(L)', 'Right Side(R)'], dtype=object)

### Center less than 8ft

In [149]:
NRA_Center=In_the_paint_nra.loc[In_the_paint_nra['SHOT_ZONE_AREA'] == 'Center(C)']
NRA_Center_lessthan8ft=NRA_Center.loc[NRA_Center['SHOT_ZONE_RANGE']=='Less Than 8 ft.'].groupby(by='PLAYER_NAME').sum()['Count'].sort_values(ascending=False).to_frame().head(10)
NRA_Center_lessthan8ft

                      Count
PLAYER_NAME
Myisha Hines-Allen       44
Alyssa Thomas            44
Brittney Griner          37
A'ja Wilson              35
Napheesa Collier         34
Arike Ogunbowale         31
DeWanna Bonner           30
Skylar Diggins-Smith     30
Angel McCoughtry         29
Cheyenne Parker          27

### Center 8-16ft

In [150]:
NRA_Center=In_the_paint_nra.loc[In_the_paint_nra['SHOT_ZONE_AREA'] == 'Center(C)']
NRA_Center_8to16ft=NRA_Center.loc[NRA_Center['SHOT_ZONE_RANGE']=='8-16 ft.'].groupby(by='PLAYER_NAME').sum()['Count'].sort_values(ascending=False).to_frame().head(10)
NRA_Center_8to16ft

                     Count
PLAYER_NAME
A'ja Wilson             15
Jackie Young            14
Courtney Williams       12
Alyssa Thomas           12
Chelsea Gray            12
Crystal Dangerfield     10
Emma Meesseman           8
Allie Quigley            8
Breanna Stewart          8
Arike Ogunbowale         8

### Left Side

In [151]:
NRA_Left=In_the_paint_nra.loc[In_the_paint_nra['SHOT_ZONE_AREA'] == 'Left Side(L)']
NRA_Left.groupby(by='PLAYER_NAME').sum()['Count'].sort_values(ascending=False).to_frame().head(10)

                   Count
PLAYER_NAME
Napheesa Collier       4
Betnijah Laney         4
Breanna Stewart        4
Emma Meesseman         3
Arike Ogunbowale       3
Candice Dupree         3
Courtney Williams      3
A'ja Wilson            3
Tiffany Mitchell       2
Nneka Ogwumike         2

### Right Side

In [152]:
NRA_Right=In_the_paint_nra.loc[In_the_paint_nra['SHOT_ZONE_AREA'] == 'Right Side(R)']
NRA_Right.groupby(by='PLAYER_NAME').sum()['Count'].sort_values(ascending=False).to_frame().head(10)

                    Count
PLAYER_NAME
A'ja Wilson             6
Emma Meesseman          6
Courtney Williams       6
Chelsea Gray            4
Myisha Hines-Allen      3
Arike Ogunbowale        3
Kia Vaughn              3
Breanna Stewart         3
Candice Dupree          3
Isabelle Harrison       2

## Restricted Area

In [158]:
RA=file_to_load.loc[file_to_load['SHOT_ZONE_BASIC'] == 'Restricted Area']
RA.groupby(by='PLAYER_NAME').sum()['Count'].sort_values(ascending=False).to_frame().head(10)

                    Count
PLAYER_NAME
Dearica Hamby          67
Brionna Jones          67
Candace Parker         64
A'ja Wilson            64
Elizabeth Williams     61
Napheesa Collier       60
Kahleah Copper         57
Alyssa Thomas          56
DeWanna Bonner         55
Nneka Ogwumike         54

## Above the Break 3

In [159]:
Above_The_Break_3=file_to_load.loc[file_to_load['SHOT_ZONE_BASIC'] == 'Above the Break 3']
Above_The_Break_3.SHOT_ZONE_AREA.unique()

array(['Left Side Center(LC)', 'Right Side Center(RC)', 'Left Side(L)',
       'Center(C)', 'Right Side(R)'], dtype=object)

### Left Side Center 16 to 24 ft.

In [160]:
Above_The_Break_3_LC=Above_The_Break_3.loc[Above_The_Break_3['SHOT_ZONE_AREA']=='Left Side Center(LC)']
Above_The_Break_3_LC_16to24=Above_The_Break_3_LC.loc[Above_The_Break_3_LC['SHOT_ZONE_RANGE'] == '16-24 ft.']
Above_The_Break_3_LC_16to24.groupby(by='PLAYER_NAME').sum()['Count'].sort_values(ascending=False).to_frame().head(10)

                  Count
PLAYER_NAME
Alexis Jones          2
Candace Parker        2
Leilani Mitchell      2
Rachel Banham         2
Arike Ogunbowale      2
Diana Taurasi         1
Dearica Hamby         1
Damiris Dantas        1
Chennedy Carter       1
Breanna Stewart       1

### Left Side Center 24+ ft

In [161]:
Above_The_Break_3_LC_24=Above_The_Break_3_LC.loc[Above_The_Break_3_LC['SHOT_ZONE_RANGE'] == '24+ ft.']
Above_The_Break_3_LC_24.groupby(by='PLAYER_NAME').sum()['Count'].sort_values(ascending=False).to_frame().head(10)

                     Count
PLAYER_NAME
Arike Ogunbowale        26
Diana Taurasi           25
Allie Quigley           18
Shekinna Stricklen      18
Crystal Dangerfield     14
Kia Nurse               14
Ariel Atkins            14
Damiris Dantas          13
Julie Allemand          13
Kelsey Mitchell         13

### Right Side Center 16 -24 ft

In [165]:
Above_The_Break_3_RC=Above_The_Break_3.loc[Above_The_Break_3['SHOT_ZONE_AREA']=='Right Side Center(RC)']
Above_The_Break_3_RC_16to24=Above_The_Break_3_RC.loc[Above_The_Break_3_RC['SHOT_ZONE_RANGE'] == '16-24 ft.']
Above_The_Break_3_RC_16to24.groupby(by='PLAYER_NAME').sum()['Count'].sort_values(ascending=False).to_frame().head(10)

                      Count
PLAYER_NAME
Courtney Vandersloot      3
Bria Holmes               2
Damiris Dantas            2
Julie Allemand            2
Tyasha Harris             1
Jazmine Jones             1
Allie Quigley             1
Alysha Clark              1
Angel McCoughtry          1
Blake Dietrick            1

### Right Side Center 24 ft

In [163]:
Above_The_Break_3_RC_24=Above_The_Break_3_RC.loc[Above_The_Break_3_RC['SHOT_ZONE_RANGE'] == '24+ ft.']
Above_The_Break_3_RC_24.groupby(by='PLAYER_NAME').sum()['Count'].sort_values(ascending=False).to_frame().head(10)

                      Count
PLAYER_NAME
Kelsey Mitchell          20
Skylar Diggins-Smith     20
Julie Allemand           19
Damiris Dantas           13
Diana Taurasi            13
Marina Mabrey            13
Riquna Williams          12
Allie Quigley            11
Crystal Dangerfield      11
Arike Ogunbowale         11

### Left Side 16-24 ft

In [116]:
Above_The_Break_3_left=Above_The_Break_3.loc[Above_The_Break_3['SHOT_ZONE_AREA']=='Left Side(L)']
Above_The_Break_3_left_16to24=Above_The_Break_3_left.loc[Above_The_Break_3_left['SHOT_ZONE_RANGE'] == '16-24 ft.']
Above_The_Break_3_left_16to24.groupby(by='PLAYER_NAME').sum()['Count'].sort_values(ascending=False).to_frame().head(10)

                          Count
PLAYER_NAME
Alysha Clark                  3
Shekinna Stricklen            3
Shatori Walker-Kimbrough      2
Arike Ogunbowale              2
Kayla Thornton                2
Kelsey Mitchell               2
Sydney Wiese                  2
Skylar Diggins-Smith          2
Sophie Cunningham             2
Sami Whitcomb                 1

### Left Side 24 ft

In [128]:
Above_The_Break_3_left_24=Above_The_Break_3_left.loc[Above_The_Break_3_left['SHOT_ZONE_RANGE'] == '24+ ft.']
Above_The_Break_3_left_24.groupby(by='PLAYER_NAME').sum()['Count'].sort_values(ascending=False).to_frame().head(10)

                  Count
PLAYER_NAME
Jewell Loyd           4
Kahleah Copper        4
Riquna Williams       2
Tiffany Mitchell      2
Kayla McBride         2
Diana Taurasi         2
Bridget Carleton      2
Natasha Howard        2
Tyasha Harris         2
Blake Dietrick        2

### Center 16 to 24 ft

In [129]:
Above_The_Break_3_center=Above_The_Break_3.loc[Above_The_Break_3['SHOT_ZONE_AREA']=='Center(C)']
Above_The_Break_3_center_16to24=Above_The_Break_3_center.loc[Above_The_Break_3_center['SHOT_ZONE_RANGE'] == '16-24 ft.']
Above_The_Break_3_center_16to24.groupby(by='PLAYER_NAME').sum()['Count'].sort_values(ascending=False).to_frame().head(10)

                  Count
PLAYER_NAME
Kelsey Mitchell       5
Allie Quigley         2
Damiris Dantas        2
Diana Taurasi         1
Ariel Atkins          1
Arike Ogunbowale      1
Breanna Stewart       1
Candace Parker        1
Chelsea Gray          1
Cheyenne Parker       1

### Center 24+ ft

In [130]:
Above_The_Break_3_center_24=Above_The_Break_3_center.loc[Above_The_Break_3_center['SHOT_ZONE_RANGE'] == '24+ ft.']
Above_The_Break_3_center_24.groupby(by='PLAYER_NAME').sum()['Count'].sort_values(ascending=False).to_frame().head(10)

                      Count
PLAYER_NAME
Diana Taurasi            16
Myisha Hines-Allen       14
Kelsey Mitchell          13
Amanda Zahui B           13
Breanna Stewart          12
Courtney Vandersloot     10
Ariel Atkins              8
DeWanna Bonner            8
Leilani Mitchell          7
Marina Mabrey             7

### Right Side 16 to 24

In [137]:
Above_The_Break_3_right_side=Above_The_Break_3.loc[Above_The_Break_3['SHOT_ZONE_AREA']=='Right Side(R)']
Above_The_Break_3_right_side_16to24=Above_The_Break_3_right_side.loc[Above_The_Break_3_right_side['SHOT_ZONE_RANGE'] == '16-24 ft.']
Above_The_Break_3_right_side_16to24.groupby(by='PLAYER_NAME').sum()['Count'].sort_values(ascending=False).to_frame().head(10)

                   Count
PLAYER_NAME
Riquna Williams        4
Betnijah Laney         3
Allie Quigley          2
Alysha Clark           2
Ariel Atkins           2
Courtney Williams      1
Allisha Gray           1
Amanda Zahui B         1
Angel McCoughtry       1
Blake Dietrick         1

### Right Side 24+ ft

In [139]:
Above_The_Break_3_right_side_24=Above_The_Break_3_right_side.loc[Above_The_Break_3_right_side['SHOT_ZONE_RANGE'] == '24+ ft.']
Above_The_Break_3_right_side_24.groupby(by='PLAYER_NAME').sum()['Count'].sort_values(ascending=False).to_frame().head(10)

                 Count
PLAYER_NAME
Kaila Charles        4
Ariel Atkins         4
Sami Whitcomb        3
Riquna Williams      3
Kayla Thornton       3
Blake Dietrick       3
Brittney Sykes       3
Diana Taurasi        3
Sydney Wiese         2
DeWanna Bonner       2

In [168]:
backcourt=file_to_load.loc[file_to_load['SHOT_ZONE_BASIC']=='Backcourt']
backcourt

,PLAYER_NAME,SHOT_ZONE_BASIC,SHOT_ZONE_AREA,SHOT_ZONE_RANGE,SHOT_DISTANCE,LOC_X,LOC_Y,Count
6025,Jazmine Jones,Backcourt,Back Court(BC),Back Court Shot,48,207,439,1